*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

#grid{
    display:  grid;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.button{
    background-color: green;
}

.button-clicked{
    background-color: red;
}

.button-start{
    background-color: yellow;
}

.button-end{
    background-color: black;
}

.nav-down-bar{
    margin: auto 0;
}

.button-path{
    background-color: orange;
}

.button-visited{
    background-color: gray;
}